 <!-- agrega el header -->
<%- include('../template/header') -$>

 <!-- esto es dinámico -->
<h1>Bienvenido a la pagina de EJEMPLO</h1>

 <!-- agrega el footer -->
<%- include ('../template/footer') -%>